.todo {
	margin: 5px;
	border: 1px solid var(--border-color);
	padding: 10px;
	border-radius: 5px;
	display: flex;
	align-items: center;
	justify-content: space-between;


}
.checkbox {
	margin-right: 10px;
}

.name {
	font-size: 16px;
}
 .inputText {
	font-size: 16px;
	flex-grow: 1;

	outline: none;
	width: 100%;
}
.save-button {
	margin-left: 10px;
	padding: 5px 10px;
	font-size: 14px;
	cursor: pointer;

	}

	.todoName {
		text-align: left;
		width: 100%;
	}
